{% extends 'base.html' %}

{% block title %}Senha Alterada - SimuladoApp{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-dark text-light">
            <div class="card-header">
                <h3 class="text-center">Senha Alterada com Sucesso</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <i class="bi bi-check-circle-fill"></i>
                    Sua senha foi alterada com sucesso!
                </div>
                <div class="text-center">
                    <a href="{% url 'accounts:login' %}" class="btn btn-primary">
                        Fazer Login <i class="bi bi-box-arrow-in-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}